@import "../../styles/App.module.scss";

.app__projects {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__project_filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem 0 0 0;

    .app__project_filter_item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        color: #000;
        font-weight: 800;

        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--secondary-color);
            color: #fff;
        }

        @media screen and (min-width: $large-device) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.app__project_portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .app__project_item {
        width: 500px;
        flex-direction: column;

        margin: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        color: #000;

        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        }

        @media screen and (min-width: $large-device) {
            width: 450px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and (max-width: $medium-device) {
            width: 400px;
        }

        @media screen and (max-width: $small-device) {
            width: 100%;
        }
    }
}

.app__project_img {
    width: 100%;
    height: 230px;

    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    @media screen and (min-width: $large-device) {
        height: 350px;
    }
}

.app__project_hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            width: 50%;
            height: 50%;
            color: var(--white-color);
        }
    }
}

.app__project_content {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h4 {
        margin-top: 1rem;
        line-height: 1.5;

        @media screen and (min-width: $large-device) {
            margin-top: 3rem;
        }
    }

    .app__project_tag {
        position: absolute;

        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: var(--primary-color);
        top: -25px;
    }
}
